
@model System.Collections.Generic.IEnumerable<OnlineStorePlatform.Models.ApplicationUser>
@{
    ViewBag.Title = "AdminView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var user in Model)
{
    <div>
        <h2>@user.UserName</h2>
        <h2>@user.Type</h2>
    </div>
    
}
